In [1]:
# Imports for all modules needed.
import sys
import pandas as pd
sys.path.append('../DataGeneration')
from license_data_generator import License

In [2]:
def generate_dataset(num_times):
    """ Function to generate a dataframe containing however many rows of synthetic people you want."""
    # Manually generate first row on which to append subsequent rows.
    data = License.generate_credentials()

    # Loop to generate subsequent rows and append them on.
    for i in range(num_times-1):
        synthetic_person = License.generate_credentials()
        data = pd.concat([data, synthetic_person], ignore_index=True)

    return data

In [15]:
# Testing the output of generate_dataset().
test_dataset = generate_dataset(5)
test_dataset.head()

,First Name,Last Name,Date of Birth,Place of Birth,Gender,Date of Issue,Date of Expiry,Issuing Authority,License Number,Address
0,Charlene,Hall,22.02.2003,Mongolia,Female,07.08.2022,04.08.2032,DA1,HALL9052223C99BZ,"345 Knowles extension, Daviesmouth, N4E 5NS"
1,Leslie,Kirby,25.08.1990,Cocos (Keeling) Islands,Female,08.09.2023,05.09.2033,DA1,KIRBY958250L99MS,"683 Andrew lakes, Port Mark, M15 8SH"
2,Vincent,Butcher,25.12.1982,Panama,Female,15.04.2018,12.04.2028,DA1,BUTCH862252V99YD,"505 Nicola shore, Campbellchester, M04 2QS"
3,Leigh,Wallace,02.01.1993,Costa Rica,Female,02.07.2022,29.06.2032,DA1,WALLA951023L99LB,"156 Eileen club, New Nathanburgh, LA6V 2TH"
4,Joshua,Campbell,19.01.2005,Mexico,Female,05.10.2023,02.10.2033,DA1,CAMPB051195J99ML,"957 Kelly villages, West Julia, W66 4WS"